{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel='stylesheet' type="text/css", href="{% static 'css/about.css' %}" >

<div class="container-fluid px-0 ">

        <!-- <section class="py-3">
            <div class="container">
                <div class="row">
                    
                </div>
            </div>
          </section> -->
          <div class="">
            <!-- heading -->
            
            <div class="heading">
              <h1> About</h1>
            </div>
            <br> <br>
            
            <!-- description -->
            <div class="header-content">
                        <img src='{% static "images/aboutimg.jpeg" %}' width="100px" height="100px" class="image">&nbsp;&nbsp;&nbsp;
                        <p class="my-3"><span style="font-size:30px; margin-left:200px"><b>About Us</b></span><br>
                          <br>
                          At SparkLuxe, we believe that everyone deserves to feel confident and comfortable
                          in their own skin. That's why we've made it our mission to provide high-quality body 
                          care products that nourish and rejuvenate your skin, leaving you feeling and looking your best.
                            <br> <br>
                            Our products are made with natural ingredients and are free from harsh chemicals, 
                           so you can trust that what you're putting on your skin is safe and effective. We're 
                           committed to sustainability, which is why we use eco-friendly packaging and source our ingredients
                           responsibly.We're more than just a body care company - we're a community of people who care about their skin,
                           their health, and their impact on the planet. Join us in our mission to make self-care a priority 
                           and to create a better world for all.
                           <br> <br> 
                          <!-- At SparkLuxe, we believe that the right fragrance can transport you to a different time and place, evoke powerful emotions, and enhance your mood. That's why we've made it our mission to create high-quality fragrances that are both unique and memorable, using only the finest ingredients from around the world.
                        Our team of expert perfumers have years of experience in the fragrance industry, and are passionate about crafting scents that evoke the senses. We take pride in our attention to detail, and each and every fragrance is carefully designed and tested to ensure that it meets our high standards.
                        At SparkLuxe, we're not just a fragrance company - we're a community of people who appreciate the art of fragrance and want to share our passion with the world. Join us in our mission to make fragrance a part of your daily routine and elevate your senses. -->
                          <br>
                        <span style="color:rgb(245, 106, 129);"> <i>“It's not about prices it's all about the quality.”</i>
                        </span>
                        </p>  
                        
                    </div>

                    <div class="ceo my-5">
                      <h1>Company's <span style=" color:rgb(248, 101, 126)" >CEO</span></h1>
                      <br>
                      <br><br>
                      <div class="ceo-description">
                        <div class="ceo-desc">
                       <img src ='{% static "images/jaspreet.jpeg" %}' height="400px" width="400px">
                       <br><br>
                       <h1 style="text-align:center;">Jaspreet Kaur </h1><br>
                       <p class="ceo-content">
                        Jaspreet Kaur, our visionary CEO, brings years of expertise in skincare formulation to our 
                        company. With a passion for natural ingredients and a commitment to quality, Jaspreet leads our
                         team in creating innovative, effective body care products. Under her guidance, we uphold values 
                         of integrity, sustainability, and customer 
                        satisfaction, ensuring that every product reflects our dedication to excellence.
                       </p>
                       </div>
                       <!-- Esha -->
                       <div class="ceo-desc">
                        <img src ='{% static "images/Esha.jpeg" %}' height="400px" width="400px">
                       <br><br>
                       <h1 style="text-align:center;">Esha Bhanot </h1><br>
                       <p class="ceo-content">
                        Esha Bhanot leads our team with a passion for skincare and a commitment to quality. 
                        With over a decade of experience in the beauty industry, Esha's innovative spirit drives us 
                        to create luxurious body care products that nourish and enhance the skin. Under her leadership, 
                        we prioritize quality, innovation, and customer satisfaction, ensuring that every product 
                        reflects our values of transparency, sustainability, and inclusivity.
                       </p>
                       </div>
                      
                       
                       </div>
            
                      </div>
                      
                    </div>
                </div>            

</div>

{% endblock %}
